/* Global Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
} */

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  animation: fadeIn 1s ease-in-out;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
  margin-left: 30px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #666;
  text-decoration: underline;
}

.contact-btn {
  border: 2px solid #000;
  padding: 5px 15px;
  transition: background-color 0.3s, color 0.3s;
}

.contact-btn:hover {
  background-color: #000;
  color: #fff;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin: 30px auto;
  gap: 40px;
  padding: 20px;
  margin-top: 70px;
}

/* Contact Form */
.contact-form {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  animation: fadeIn 1.3s ease-in-out;
}

.subtitle {
  color: #68b684;
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.title {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 20px;
  color: #222;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.checkbox-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.checkbox-container input {
  max-width: 30px;
  margin-right: 10px;
}
.checkbox-container label {
  font-family: monospace;
}
.submit-btn {
  background-color: #1ea84a;
  width: 30%;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
}

.submit-btn:hover {
  background-color: #148c38;
}

/* Contact Info */
.contact-info {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1.3s ease-in-out;
}

.map-placeholder {
  background-color: #ddd;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #555;
  margin-bottom: 20px;
}

.info h3,
.info h4 {
  margin: 10px 0;
  font-weight: bold;
  color: #222;
}

.info ul {
  list-style: none;
}

.info ul li {
  margin: 5px 0;
}
