.health-section {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  background-color: aliceblue;
}

/* Subtitle */
.section-subtitle {
  font-size: 0.9rem;
  color: #68b684;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Title */
.section-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
  color: #111;
}

/* Cards Container */
.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap; /* Responsif */
}
/* Individual Card */
.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 300px;
  text-align: left;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-15px);
}

/* Card Image */
.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

/* Card Content */
.card-content {
  padding: 15px;
}
.card-content h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.card-content p {
  font-size: 0.9rem;
  color: #555;
}
